body {
    position: relative;
}

main {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: aqua;
}

.imge {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: blueviolet;
}